<div class="center hero-unit">
  <h1>Welcome to CourseKarma Sample Application</h1>

  <h2>
    This is where we will be demoing the
    <a href="http://coursekarma.com">CourseKarma</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path,
                              class: "btn btn-large btn-primary" %>
</div>

<div class ="center"><%= link_to image_tag("ck.png", alt: "Rails"), 'http://coursekarma.com' %></div>